.card{
    width: 280px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}
.card-container{
    width: 280px;
    height: 200px;
    object-fit: contain;
}
.card-container img{
    width: 280px;
    height: 100%;
    border-radius: 10px;
}
.button{
    display: flex;
    background: transparent;
    backdrop-filter: blur(5px);
    color: #000000;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.button div{
    display: flex;
    gap: 15px;
}
.button span{
    font-family: Montserrat;
    font-size: 18px;
}